.container {
	--max-width: 1210px;
	--padding: 15px;
	max-width: var(--max-width);
	padding: var(--padding);
	margin: 0 auto;
	@media (max-width: 1024px) {
		--max-width: 880px;
	}
	@media (max-width: 1024px) {
		--max-width: 880px;
	}
	@media (max-width: 768px) {
		--max-width: 620px;
	}
}
